

.navbar {
  font-size: 16px;
  padding-bottom: 10px;
}

.navbar-brand {
  font-size: 24px !important;
}

#folderlist .list-group-item {
  padding: auto;
  height: 65px;
}

#folderlist {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 25px;
}

#folderlist .btn-sm {
  float: top;
}


.alert {
  margin-bottom: 1px;
  height: 30px;
  line-height:30px;
  padding:0px 15px;
}
body, html {
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
}
#upload-notis {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: auto;
}

